/* center class: 가운데 정렬 해줌 */

.center {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

.center > span {
    width: 100%;
 }
  
.center > div {
    width: 100%;
 }



/* title class: 폰트 적용, 폰트 사이즈 조절, 글자 자간 맞춤, 색 조정 해줌 */

.title {
    font-family: "Noto Sans KR Bold";
    font-size: 20pt;
    letter-spacing: -1.25px;
    color: #1d1a1a;
 }